@{
    ViewData["Title"] = "Criar Cadastros";
}
<div class="text-center">

    <h1 class="display 4">Cadastrar Produtos</h1>

</div>

<form>
    <div class="mb-3">
        <label for="nome" >Produto</label>
        <input type="text" class="form-control" placeholder="Digite o produto">
    </div>
    <div class="mb-3">
        <label for="nome">Marca</label>
        <input type="text" class="form-control" placeholder="Digite a marca">
    </div>

    <button type="submit" class="btn btn-primary">Adicionar</button>
    <a class="btn btn-success" asp-controller="Cadastros" asp-action="Index" role="button">Voltar</a>
</form>



