@{
    ViewData["Title"] = "Confirmação deletar o contato";
}

<div class="text-center">
    <h3>Realmente deseja deletar o contato? </h3>
</div>

<a class="btn btn-primary" role="button" asp-controller="Cadastros" asp-action="Index">Cancelar exclusão</a>

