@{
    ViewData["Title"] = "Confirmação para deletar o produto";
}

<div class="text-center">
    <h3>Realmente deseja excluir o produto? </h3>
</div>

<a class="btn btn-info" role="button" asp-controller="Produto" asp-action="Index">Cancelar exclusão</a>