@{
    ViewData["Title"] = "Cadastro de Produtos";
}
<div class="text-center">

<div class="d-grid gap-2 d-md-flex justify-content-md-start">
    <a class="btn btn-secondary" role="button" asp-controller="Produto" asp-action="Index">Adicionar descrição</a>
</div>
<br />

<h1 class="display 4">Tabela de Produtos</h1>

<table class="table table-dark table-hover">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Descrição</th>
            <th scope="col">Preço Venda</th>
            <th scope="col">Marca</th>
            <th scope="col">Fabricante</th>
            <th scope="col">Estoque Atual</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">2</th>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td>
                <div class="btn-group" role="group">
                        <a role="button" class="btn btn-info" asp-controller="Produto" asp-action="Editar">Editar</a>
                        <a role="button" class="btn btn-success" asp-controller="Produto" asp-action="DeletarConfirmacao">Deletar</a>
                </div>
            </td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td>
                <div class="btn-group" role="group">
                        <a role="button" class="btn btn-info" asp-controller="Produto" asp-action="Editar">Editar</a>
                        <a role="button" class="btn btn-success" asp-controller="Produto" asp-action="DeletarConfirmacao">Deletar</a>
                </div>
            </td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td>
                <div class="btn-group" role="group">
                        <a role="button" class="btn btn-info" asp-controller="Produto" asp-action="Editar">Editar</a>
                        <a role="button" class="btn btn-success" asp-controller="Produto" asp-action="DeletarConfirmacao">Deletar</a>
                </div>
            </td>
        </tr>
    </tbody>
</table>
</div>